@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-gray-00: rgba(189, 186, 189, 0.3);
  --bg-gray-01: hsl(0, 0%, 75%);
  --bg-gray-02: hsl(257, 7%, 63%);
  --bg-gray-03: hsl(255, 11%, 22%);
  --bg-gray-04: hsl(260, 8%, 14%);
  --bg-red: hsl(0, 87%, 67%);
  --bg-dark-violet: hsl(257, 27%, 26%);
  --bg-cyan: hsl(180, 66%, 49%);
  --bg-cyan-hover: rgba(42, 207, 207, 0.5);
  --bg-cyan-hover01: rgb(117, 213, 213);
}
::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}